.mainBox {
    height: 600px;
    width: 100%;
    background-color: black;
}

.burgerTop {
    position: absolute;
    top: 25px;
    left: 50%;
    height: 140px;
    width: 500px;
    border-radius: 100px 100px 40px 40px;
    background: linear-gradient(301deg, rgba(129,76,32,1) 0%, rgba(226,186,138,1) 100%);
    transform: translate(-50%, 0);
}

.burgerBottom {
    position: absolute;
    top: 200px;
    left: 50%;
    height: 100px;
    width: 500px;
    border-radius: 40px 40px 30px 30px;
    background: linear-gradient(301deg, rgba(129,76,32,1) 0%, rgba(226,186,138,1) 100%);
    transform: translate(-50%, 0);
}

.meat {
    position: absolute;
    top: 165px;
    left: 50%;
    height: 50px;
    width: 500px;
    border-radius: 40px 40px 30px 30px;
    transform: translate(-50%, 0);
    background: linear-gradient(301deg, rgb(34, 16, 1) 0%, rgb(73, 61, 47) 100%);
    /* background-size: 100px 100px;
    background-position: 0 0, 33px 33px, -33px -33px;
    background:(
        radial-gradient(rgb(49, 36, 6) 20px, transparent 50%, transparent 100%)
        radial-gradient(rgb(56, 44, 15) 20px, transparent 50%, transparent 100%)
        radial-gradient(rgb(66, 60, 44) 20px, transparent 50%, transparent 100%))
        
    ) */
    
    
}
.cheese1 {
    position: absolute;
    top: 155px;
    left: 50%;
    height: 15px;
    width: 500px;
    border-radius: 40px 40px 30px 30px;
    transform: translate(-50%, 0);
    background: linear-gradient(301deg, rgb(175, 143, 2) 0%, rgb(209, 186, 84)100%);
}

.leftEye {
    position: absolute;
    top: 82px;
    left: 400px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(105, 105, 105)100%);
}
.rightEye {
    position: absolute;
    top: 82px;
    left: 500px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(105, 105, 105)100%);
}

.leftPupil {
    position: absolute;
    top: 82px;
    left: 400px;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background: linear-gradient(120deg, rgb(0, 0, 0) 0%, rgb(56, 56, 56)100%);
}
.rightPupil {
    position: absolute;
    top: 82px;
    left: 500px;
    height: 20px;
    width: 20px;
    border-radius: 25px;
    background: linear-gradient(120deg, rgb(0, 0, 0) 0%, rgb(56, 56, 56)100%);
}